.card{
    width: 295px;
    height: 350px;
    background-color: aqua;
    border-radius: 20px;
    margin: 1.5vw;
    padding: 3vh;
    position: relative;

    
}

.card > h3 {
    text-align: center;
    height: 30px;
    overflow:  hidden;


}
.card > p {
    height: 250px;
    overflow-y: scroll;
    scrollbar-width: none;
}
.card-footer{
    height: 20px;
    margin-top: 1vh;
}
.deletebtn{
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 15px;
    right: 10px;
    color: #f7cff7;
    color: black;


}

.deletebtn:hover{
    cursor: pointer;


}