.header1{
    padding: 0 3vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color: #f7cff7; 
    height: 15vh;

}
.header1>h3{
    font-family: "Lobster", sans-serif;
    font-weight: 100;
    font-style: normal;
  
}
.addnotes{
    width: 10vh;
    height: 10vh;
}